@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{  
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body{
    max-width: 1100px;
    background-color: hsl(212, 45%, 89%);
    margin: auto;
}
img{
    max-width: 100%;
    width: 100%;
}
.container{
    margin: 5rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem;
    border-radius: 20px;
}
.container div:first-child img{
    border-radius: 20px;
}

.container div:last-child span{
    margin: 1rem;
}
.container div:last-child span:first-child h2{
    font-size: 1.5rem;
    margin: 0 2rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.container div:last-child span:last-child p{
    color: hsl(220, 15%, 55%);
    margin: 0 2rem;
    text-align: center;
}

@media(min-width: 1024px){

body{
    margin: auto 35rem;
}
    
}
